
<div class="panel panel-default user-panel2">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <!-- List group -->
  <div class="col-md-12" id="front">    
    <div class="col-md-4" id="profile-image-container">
      <img src=<%= @user.avatar_url %>>
    </div>
    <div class="col-md-8" id="profile-text-container">   
      <span class="user_name"><b><%= @user.name %></b></span>
      <br>
      <span class="username">@<%= @user.username %></span>
    </div>  
  </div>
  <ul class="list-group list-inline">
    <li class="list-group-item">
      <a href="/users/<%= session[:user] %>">
        PEEPS<br><span class="ammounts"><%= @user.peeps.count %></span>
      </a>  
    </li>
    <li class="list-group-item">
      <a href="#">
        FOLLOWING<br><span class="ammounts">0</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        FOLLOWERS<br><span class="ammounts">0</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
     <li class="list-group-item" id="profile-tweet-form-holder">
      <form role="form">
          <input type="text" class="form-control" placeholder="Compose new Peep...">
    </form>  
    </li>
    <li class="list-group-item" id="profile-tweet-form">
      <form role="form" action="/peeps/new" method="post">
          <textarea class="form-control" name="peep" rows="3"></textarea><br>
          <i class="fa fa-camera fa-lg"></i> 
          <i class="fa fa-map-marker fa-lg"></i> 
          <span class="peep-count">140</span>
          <button type="submit" value="Peep" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i> Peep</button>
    </form>  
    </li>
  </ul>
</div>

<form id="sign-out-button" method="post" action="/sessions">
  <div class="form-group">
      <input class="form-control" type="hidden" name="_method" value="delete">
      <input class="btn btn-warning" type="submit" value="Sign Out">
    </div>
</form>



