
<div class="panel panel-default user-panel2">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <!-- List group -->

  <div class="col-md-12" id="front">    
    <div class="col-md-4" id="profile-image-container">
      <img src=<%= @user.avatar_url %>>
    </div>
    <div class="col-md-8" id="profile-text-container">   
      <span class="user_name"><b><%= @user.name %></b></span>
      <br>
      <span class="username">@<%= @user.username %></span>
    </div>  
  </div>
  <ul class="list-group list-inline">
    <li class="list-group-item">
      <a href="/users/<%= session[:user] %>">
        PEEPS<br><span class="ammounts"><%= @user.peeps.count %></span>
      </a>  
    </li>
    <li class="list-group-item">
      <a href="#">
        FOLLOWING<br><span class="ammounts">0</span>
      </a>
    </li>
    <li class="list-group-item">
      <a href="#">
        FOLLOWERS<br><span class="ammounts">0</span>
      </a>
    </li>
  </ul>
  <%= erb :"/users/partials/profile_peep_form" %>
</div>

<form id="sign-out-button" method="post" action="/sessions">
  <div class="form-group">
      <input class="form-control" type="hidden" name="_method" value="delete">
      <input class="btn btn-warning" type="submit" value="Sign Out">
    </div>
</form>



