
<!DOCTYPE html>
<html lang="en">
  <head>
  <%= erb :"partials/head" %>
  </head>

  <body <%= "id='#{@body_id}'" if @body_id %> role="document">

    <%= erb :"partials/navbar" %>

    <div class="container theme-showcase" role="main">

        <%= erb :"partials/errors" %>
        <%= erb :"partials/notices" %>

  		<div class="col-md-3">

  			<% if @user %>
  				<%= erb :"partials/user" %>
  			<% else %>

  				
  			<% end %>
  		</div>

  		<div class="col-md-6">
  			<%= yield %>
  		</div>

      <% unless @user %>
        <div class="col-md-3">
          <br>
          <br>
          <br>
          <br>
          <%= erb :"partials/sign_in_form" %>
        </div>      
      <% end %>
    </div> <!-- /container -->

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/js/chitter.js"></script>
    
  </body>
</html>







